<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>

  <body class="bg-[#f6f6f6] p-6">
    <main
      class="max-w-5xl mx-auto bg-[#f6f6f6] rounded-2xl p-8 flex flex-col gap-8"
    >
      <div class="flex flex-col md:flex-row gap-8">
        <section class="flex-1 max-w-xl">
          <h2 class="font-bold text-lg mb-6">Producto</h2>
          <label
            class="block text-xs text-[#3a3a3a] font-normal mb-1"
            for="nombre"
          >
            Nombre del producto
          </label>
          <input
            class="w-full rounded-md border-0 py-2 px-4 mb-6 text-center text-sm font-normal text-[#3a3a3a] bg-white focus:outline-none"
            id="nombre"
            type="text"
            value="terno vino"
          />
          <div
            class="flex flex-wrap gap-x-6 gap-y-2 mb-4 text-xs text-[#3a3a3a] font-normal"
          >
            <p class="min-w-[90px]">Modelo: Clasico</p>
            <p class="min-w-[90px]">Diseño: Machete</p>
            <p class="min-w-[90px]">Tela: D54E65</p>
          </div>
          <div
            class="flex flex-wrap gap-x-6 gap-y-2 mb-6 text-xs text-[#3a3a3a] font-normal"
          >
            <p class="min-w-[90px]">Cantidad Total: 15</p>
            <div class="min-w-[120px] flex items-center gap-2">
              <label
                for="tonalidad-color"
                class="text-xs text-[#3a3a3a] font-normal"
                >Tonalidad:</label
              >
              <input
                type="color"
                id="tonalidad-color"
                class="w-8 h-6 p-0.5 rounded-md border border-gray-300 cursor-pointer"
                [(ngModel)]="selectedTonalidadColor"
              />
            </div>
          </div>
          <div class="mb-6">
            <p class="text-xs font-bold mb-2">Talla</p>
            <div class="flex gap-2">
              <button
                class="bg-black text-white text-xs font-normal rounded px-3 py-1"
                type="button"
              >
                S
              </button>
              <button
                class="bg-[#9e9e9e] text-white text-xs font-normal rounded px-3 py-1"
                type="button"
              >
                M
              </button>
              <button
                class="bg-[#9e9e9e] text-white text-xs font-normal rounded px-3 py-1"
                type="button"
              >
                L
              </button>
            </div>
          </div>
          <p class="text-xs text-[#3a3a3a] font-normal mb-6">
            Cantidad: 7 productos
          </p>
          <form class="flex flex-col gap-6 max-w-xs">
            <div>
              <label
                class="block text-xs font-bold text-[#3a3a3a] mb-1"
                for="precio"
              >
                Precio
              </label>
              <input
                class="w-20 rounded-md border-0 py-1 px-2 text-xs font-normal text-[#3a3a3a] bg-white focus:outline-none"
                id="precio"
                type="text"
                value="s/.250"
              />
            </div>
            <div>
              <label
                class="block text-xs font-bold text-[#3a3a3a] mb-1"
                for="categoria"
              >
                Categoria
              </label>
              <select
                class="w-full rounded-md border-0 py-1 px-2 text-xs font-normal text-[#9e9e9e] bg-white focus:outline-none"
                id="categoria"
              >
                <option disabled="" selected="">Seleccione</option>
                <option>Categoria 1</option>
                <option>Categoria 2</option>
              </select>
            </div>
            <div>
              <label
                class="block text-xs font-normal text-[#3a3a3a] mb-1"
                for="descripcion"
              >
                Descripcion
              </label>
              <textarea
                class="w-full rounded-md border-0 py-2 px-3 text-xs font-normal text-[#3a3a3a] bg-white resize-none focus:outline-none"
                id="descripcion"
                rows="6"
              ></textarea>
            </div>
          </form>
        </section>
        <section class="flex flex-col items-center gap-4 max-w-md w-full">
          <button
            class="w-full bg-black text-white rounded-md py-2 px-6 flex items-center justify-center gap-2 text-xs font-normal"
            type="button"
            (click)="openUploadModal()"
          >
            Subir fotos
          </button>

          <img
            *ngIf="currentImageUrl; else placeholderImage"
            [src]="currentImageUrl"
            alt="Imagen del Producto"
            class="rounded-xl w-full max-w-md object-cover"
            height="500"
            width="400"
            style="min-height: 400px; min-width: 400px"
          />

          <ng-template #placeholderImage>
            <div
              class="rounded-xl w-full max-w-md h-[500px] bg-gray-200 flex items-center justify-center flex-col text-gray-500"
              style="min-height: 400px; min-width: 400px"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-24 h-24 mb-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.53 16.29A8.07 8.07 0 0 0 12 20.25a8.07 8.07 0 0 0 2.47-3.966M9.53 16.29A8.07 8.07 0 0 1 12 12.75a8.07 8.07 0 0 1 2.47 3.966m-9.53 0H12H2.47M12 12.75l-4.72 4.72M12 12.75l4.72 4.72M12 12.75V21M12 12.75V3"
                />
              </svg>
              <p>No hay imagen</p>
            </div>
          </ng-template>

          <div class="flex justify-center gap-4 mt-2">
            <span
              *ngFor="let imgUrl of productImages; let i = index"
              [class.bg-black]="i === activeImageIndex"
              [class.bg-[#9e9e9e]]="i !== activeImageIndex"
              class="w-3 h-3 rounded-full inline-block cursor-pointer"
              (click)="setActiveImage(i)"
              [attr.aria-label]="
                'Indicador de imagen ' +
                (i === activeImageIndex ? 'activo' : '')
              "
            >
            </span>
            <span
              *ngIf="productImages.length === 0"
              class="w-3 h-3 rounded-full bg-[#9e9e9e] inline-block"
              aria-label="Indicador de imagen"
            >
            </span>
          </div>
        </section>
      </div>

      <button
        class="bg-[#1a1726] text-white text-xs font-normal rounded-md py-2 px-6 w-max"
        type="submit"
      >
        Guardar
      </button>
    </main>

    <app-modal-imagen
      [isOpen]="isUploadModalOpen"
      (closeModal)="closeUploadModal()"
      (filesSelected)="handleSelectedFiles($event)"
    >
    </app-modal-imagen>
  </body>
</html>
